

<!DOCTYPE html>
<html lang="en">
    <%- include('./shared/head.ejs') %>
<body>
    <div class="row">
        <form class="col s12" method="POST" action='/'>
            <div class="row">
                <div class="input-field col s6">
                    <label for="first_name">Name  </label>
                    <br/>
                    <input name='name' placeholder="The name" id="last_name" type="text" class="validate">
                </div>
            </div>
        
            <div class="row">
                <div class="input-field col s12">
                    <label for="textarea1">Message</label>
                    <br/>
                    <textarea name='message'placeholder="Body" id="textarea1" class="materialize-textarea"></textarea>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit </button>
        </form>
    </div>
        <hr>
        <% if(result.length > 0 ){ result.forEach(val => { %>
            <h2><%=val.name %></h2> 
            <p><%= val.message%> </p>
            
            <% }) } %>
</body>
</html>